html {
  display: block;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.header{
  font-size: 2rem;
  text-align: center;
}

h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 1.6rem;
}

h2 {
  margin: 0.9em;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
}

h6 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  margin: 0;
  font-size: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
}

.main__title h1{
  width: 100%;
  margin: 0.2rem;
}

@keyframes grow {
0%, 100% {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  }
50% {
  -webkit-transform: scaleY(1.8);
  transform: scaleY(1.8);
  }
}
@keyframes rotate {
from {
  -webkit-transform: rotate(0deg);
  }
to {
  -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
0% {
  opacity: 1;
  }
50% {
  opacity: 0.5;
  }
100% {
  opacity: 0;
  }
}
@keyframes fadein {
from {
  opacity: 0;
  }
to {
  opacity: 1;
  }
}
@keyframes fill {
0% {
  opacity: 0;
  }
50% {
  opacity: 0.5;
  }
100% {
  opacity: 1;
  }
}
.main_header h1 {
  text-align: center;
}

.fa-utensils {
  padding-right: 5px;
}

.about {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 40px 0;
  background: #f6f6f6;
  padding-top: 1%;
}

.title__about {
  width: 20rem;
  margin: auto;
  font-size: 1em;  
  word-wrap: break-word;
  margin-top: 2rem;
}

.about h2 {
  font-weight: bold;
}

.about p {
  color: #4d4d4d;
  margin-top: -0.5rem;
}

.img_menu{
  grid-column-start: 2;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
.restaurant__title {
  width: 100%
  }
}

.restaurant__title h2 {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
.restaurant__title h2 {
  text-align: center;
  }
}

.card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
  margin-left: 4%;
  margin-right: 2%;
}

@media screen and (min-width: 768px) and (max-width: 1400px){
.card {
  width: 25rem;
  }
}

.card img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  max-height: 220px;
  position: relative;
  overflow: hidden;
  height: 160px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.main__restaurant {
  margin: auto;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1400px){
.main__restaurant {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  }
}

@media screen and (min-width: 768px) {
.main__restaurant {
  padding: 0 20%;
  }
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart h4 {
  margin: 0;
  font-size: 1.2rem;
}

.fa-heart::before {
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: linear-gradient(to top,#2991D6 0%, #A97EE1 100%);

}

.fa-heart {
  -webkit-text-stroke: 2px black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom,#2991D6 0%, #A97EE1 100%);
  background-position-y: 100px;
  background-repeat: no-repeat;
  transition: 1s ease all;
}

.fa-heart:hover {
    background-position-y: 0;
    -webkit-text-stroke-color: transparent;
}

.card figure {
  margin: 0;
}

.card figcaption {
  margin: 0;
  padding: 10px;
  line-height: 0.1rem;
}

.card figcaption p {
  margin-top: 0.5rem;
}

.loader {
  background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: "Shrikhand", sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top:0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 2s forwards;
}

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 75%;
}

@media screen and (min-width: 360px){
.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 35%;
  }
}

@media screen and (min-width: 1200px){
  .loader__food {
    top: 45%;
    left: 45%;
    }
  }

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
  .starter, .dish, .dessert {
    margin-left: 6rem;
  }
}

@media screen and (min-width: 1250px) {
  .dessert {
    width: 100%;
  }
}

.main_menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}


@media screen and (min-width: 768px) {
  .main_menu {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: -6rem;
    width: 100%;
  }
}

.starter {
  animation: fadein 0.5s ease-in-out;
}

@media screen and (min-width: 1280px) {
.starter {
  width: 400px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1990px) {
  .starter{
    width: 900px;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 650px) {
  .starter_title{
    margin-left: 24%;
  }
}

.dish {
  animation: fadein 1.5s ease-in-out;
}

@media screen and (min-width: 1280px) {
.dish {
  width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .dish {
    width: 900px;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 650px) {
  .dish_title{
    margin-left: 24%;
  }
}

.dessert {
  animation: fadein 2.5s ease-in-out;
}

@media screen and (min-width: 1280px) {
.dessert {
  width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .dessert {
    width: 900px;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 650px) {
  .dessert_title{
    margin-left: 24%;
  }
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 12px;
  right: -65px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
  margin-right: 0.7rem;
}

.line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-left: 10px;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps__search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 11px 5px 12px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.btn__about button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 220px;
  height: 50px;
  text-align: center;
  color: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

@media screen and (min-width: 600px) and (min-width: 1280px){
  .btn__about button {
    width: 20%;
  }
}

.btn__about {
  display: flex;
  justify-content: center;
}

.btn__about button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 10px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 5%;
  z-index: 1;
}

.fill {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill:hover {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa, .fas{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.header__img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  position: absolute;
  margin-top: 0.8rem;
  left: 20px;
}

.menu__title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 340px) and (max-width: 1900px) {
.menu__title{
  padding: 10px 30px;
  }
}

@media screen and (min-width: 650px){
  .starter, .dish, .dessert {
    margin: 5%;
  }
}

@media screen and (min-width: 650px){
  .starter line {
    margin-left: 25%;
  }
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 8px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-self: stretch;
  transition: padding-right 450ms ease-in-out;
}

@media screen and (min-width: 650px) and (max-width: 1990px) {
  .meals, .menu__title {
    margin-left: 25%;
  }
}

.meals p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meals h4 {
  margin: 0;
  margin-top: 0.3rem;
  text-overflow: ellipsis;
}

.meals:hover {
  padding-right: 95px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.last_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1280px) {
  .last_line p {
    padding-right: 20px;
  }
}

.last_line span {
  margin-right: 5px;
}

.prix {
  align-items: flex-end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: flex-end;
  padding-left: 20px;
  margin-top: -0.1rem;
}

.starter, .dish, .dessert {
  padding-bottom: 1rem;
}

.starter h3, .dish h3, .dessert h3 {
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.btn_order {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .btn_order {
    margin-top: -1em;
  }
}

.btn_order button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin: 30px 95px;
  padding: 15px;
  width: 50%;
}

.btn_order button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

@media screen and (min-width: 768px) {
.btn_order button {
  width: 20%;
  margin-left: -26%;
  }
}

@media screen and (min-width: 360px) {
  .function .function__choice{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
  .function h2 {
    text-align: center;
    }
}

.function {
  font-weight: bold;
  font-size: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  }

.function__choice {
  margin: 0 20px 20px 40px;
  background-color: #F6F6F6;
  padding: 30px 50px 30px 18px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 230px;
  max-height: 78px;
}

.function__choice:hover {
  background-color: #f5edff;
}

.fa, .fas {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 1px;
}
.function__choice__number {
  width: 22px;
  height: 22px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 35%;
  left: -4%;
}

.fa-tablet-alt:hover, .fa-list-ul:hover, .fa-store:hover {
  color: #9356DC;
}

.fa-tablet-alt, .fa-list-ul, .fa-store {
  color: grey;
  margin-right: 1rem;
}

footer {
  display: block;
  background-color: #353535;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding: 30px;
}

footer a {
  color: white;
}

.footer_logo{
  width: 100%;
}

footer h3 {
  font-family: "Shrikhand", "sans-serif";
  color: white;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.footer_menu {
  width: 100%;
  max-width: 1100px;
  flex-direction: column;
  line-height: 27px;
  display: flex;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 0.2rem;
}

@media screen and (min-width: 768px) {
  .footer_menu, .footer_logo{
    margin-left: 25%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1995px)  {
  .footer_menu, .footer_logo{
    margin-left: 22%;
    }
}